.container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.input {
  border: none;
  border-radius: 0.25em;

  background-color: #f9f9f9;
  font-size: medium;

  padding-top: 1vh;
  padding-bottom: 1vh;

  padding-left: 1em;
  padding-right: 2em;
}

.label {
  margin-left: 1.5em;
  font-weight: bold;
  color: #6a6a6a;
}
.notes {
  margin-left: 1.5em;
  font-size: small;
  color: red;
}
