.button {
  background-color: #ff9d00;
  color: white;
  margin-top: 50px;
  border: none;
  border-radius: 20px;
  width: 300px;
  height: 48px;
  font-size: large;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
}
