.button {
  background-color: #FF9D00;
  color: white;
}

.button {
  border: none;
  border-radius: 20px;
}

.button {
  width: 300px;
  height: 48px;
}

.button {
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

.button{
  margin-top: 50px;
}

.button {
  cursor: pointer;
}